<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pagina Principal</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio" text="Volver" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cuadradoNegro" *ngFor="let x of usuarioData">
    <p class="botonCentro">Bienvenid@ Alumno {{x.nombre}}</p>
  </div>
  <br>
  <br>
  <div class="ion-text-center">     
    <ion-button size="large" expand="block" shape="round" fill="outline" color="dark" style="font-size: medium;">
      <ion-icon name="qr-code-outline"></ion-icon>
      <p style="padding-left: 3%;">Registrar Asistencia</p>
    </ion-button>
  </div>
  <ion-item *ngFor = " let y of horarios">
    <ion-label>{{y.nombre}} {{y.seccion}}</ion-label>
  </ion-item>
</ion-content>

