<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detalle-asignatura</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dos.profesor" text="Volver" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cuadradoNegro2">
    <p class="colorLetra">{{detalleClase.nombre}}</p>
  </div>
  <ion-card class="fondoNegro">
    <ion-card-header>
      <ion-card-title style="color: white;">Seccion: {{detalleClase.seccion}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color: white;">
      Descripcion: {{detalleClase.descripcion}}
    </ion-card-content>
  </ion-card>
  <ion-list>
    <p class="colorLetra" style="padding-left: 27%;">LISTA DE ALUMNOS</p>
    <ion-item *ngFor="let usuario of usuariosInscritos">
      <ion-label>
        <h2>Alumno {{ usuario.nombre }} {{ usuario.apellido }}</h2>
        <!-- Agrega aquí más detalles que quieras mostrar -->
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="crearAsistencia()" expand="block" fill="solid" shape="round" color="warning">
    Crear Asistencia
  </ion-button>
  <br>
  <ion-list>
    <ion-card class="fondoOscuro" *ngFor="let asist of asistenciasClase">
      <ion-card-header>
        <ion-card-subtitle class="colorAmarillo">Fecha de Asistencia:</ion-card-subtitle>
        <ion-card-title class="colorLetra">{{asist.fecha | date: 'medium'}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="colorLetra">
        Alumnos presentes: {{contarAlumnosPresentes(asist)}}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
