<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detalle-asignatura</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dos.profesor" text="Volver" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cuadradoNegro2">
    <p class="colorLetra">{{detalleClase.nombre}}</p>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: white;">Seccion: {{detalleClase.seccion}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color: white;">
      Descripcion: {{detalleClase.descripcion}}
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let usuario of usuariosInscritos">
      <ion-label>
        <h2>{{ usuario.nombre }}</h2>
        <!-- Agrega aquí más detalles que quieras mostrar -->
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
