<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dos.profesor</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio" text="Volver" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cuadradoNegro" *ngFor="let x of usuarioData">
    <p class="botonCentro">Bienvenid@ Profesor {{x.nombre}}</p>
  </div>
  <p style="padding-left: 3%;"> Secciones:</p>
  <ion-item *ngFor = " let y of horarios" [routerLink]="['/profe-qr/' + y.idAsignatura]">
    <ion-label>{{y.asignatura}} {{y.seccion}}</ion-label>
  </ion-item>
</ion-content> -->
