<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dos.profesor</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio" text="Volver" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cuadradoNegro">
    <p class="botonCentro">Bienvenid@ Profesor {{usuarioData.nombre}} {{usuarioData.apellido}}</p>
  </div>
  <p style="padding-left: 24%; color: white;"> Secciones y Asignaturas</p>
  <ion-item *ngFor = "let detalleClase of clasesDetalles" (click)="viewClassDetails(detalleClase.idAsignatura)">
    <ion-label>{{ detalleClase.seccion }} {{ detalleClase.nombre }}</ion-label>
  </ion-item>
  <br><br>
  <ion-button (click)="cerrarSesion()" shape="round" fill="outline" color="warning">
    Cerrar Sesión
  </ion-button>
</ion-content>
