<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profeQR</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dos.profesor" text="Volver" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 style="color: white;">QR de la Asignatura</h1>
  <br><br>
  <ion-item>
    <qrcode [qrdata]="id_asitencia" [width]="250" style="padding-left: 12%;"></qrcode>
  </ion-item>
  <br>
  <br>
  <ion-list>
    <ion-card class="fondoOscuro" *ngFor="let presente of usuariosPresentes">
      <ion-card-header>
        <ion-card-title class="colorAmarillo">{{ presente.nombre}} {{ presente.apellido}} - Presente</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
  

</ion-content>
