ion-content {
    --ion-background-color: rgb(116, 116, 110);
  }

.cuadradoNegro {
width: 400px; 
height: 80px;
background-color: rgb(58, 58, 58);
}

.botonCentro{
    padding-top: 8%;
    padding-left: 2%;
    color: white;
}

    